/* Fix user-agent */

* {
    box-sizing: border-box;
  }
  body,html{
    height: 100%;
    margin: 0;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    background: #7F7FD5;
       background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  }
  
  
  html, input {
    font-family:
      "HelveticaNeue-Light",
      "Helvetica Neue Light",
      "Helvetica Neue",
      Helvetica,
      Arial,
      "Lucida Grande",
      sans-serif;
  }
  
  /* Pages */

  .pages {
    height: 80%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .page {
    height: 80%;
    width: 100%;
  }
  
  /* Login Page */
  
  .login.page {
    border-radius: 20px;
    background-color: #000;
  }
  
  .login.page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;
  
    text-align: center;
    top: 60%;
    width: 100%;
  }
  
  .login.page .form .nickName {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
  }
  
  .login.page .title {
    font-size: 200%;
  }
  
  .login.page .nickName {
    font-size: 200%;
    letter-spacing: 3px;
  }
  
  .login.page .title, .login.page .nickName {
    color: #fff;
    font-weight: 100;
  }
  
  

 
  
  .log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
  }
  
  /* buttons */
  #submit {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
  }
